{{!-- ADMIN - VIEW PRODUCTS --}}
<link rel="stylesheet" href="/stylesheets/admin-view-products.css">

<h1>ADMIN - VIEW PRODUCTS</h1>

<div class="container">
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>PRODUCT NAME</th>
                <th>PRODUCT IMAGE</th>
                <th>CREATED AT</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each foods}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.productName}}</td>
                <td>{{this.imageUrl}}</td>
                <td>{{this.createdAt}}</td>
                <td><a href="/admin/del-product/{{this.id}}"><button class="custom-btn btn-13">DELETE</button></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src="/javascripts/admin/deleteModal.js"></script>