{{!-- ADMIN - VIEW PRODUCTS --}}
<link rel="stylesheet" href="/stylesheets/admin-view-products.css">

<h1>ADMIN - VIEW PRODUCTS</h1>

<div class="container">
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>PRODUCT NAME</th>
                <th>PRODUCT IMAGE</th>
                <th>CREATED AT</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each foods}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.productName}}</td>
                <td><a href="{{this.imageUrl}}"><img src="{{this.imageUrl}}" height="100" width="100"
                            alt="Image Not Available"></a></td>
                <td>{{this.createdAt}}</td>
                <td><a href="/admin/update-product/{{this.id}}"><button class="custom-btn btn-13">UPDATE</button></a>
                </td>
                <td><a href="/admin/del-product/{{this.id}}"><button class="custom-btn btn-5">DELETE</button></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>